<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  href="#"> {{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item">
        <a class="nav-link" routerLink="/clientes">Home <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/directivas">Productos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/distribuidor">Distribuidor</a>
      </li>
      <li *ngIf="this.roleAdmin" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/usuarios">Usuarios</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
      </li>
      <li  *ngIf="this.roleAdmin" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/signingoogle']">Encuesta</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!this.isAuthenticated"><a [routerLink]="['/login']" class="btn btn-outline-primary">Sign In</a></li>

      <li *ngIf="this.isAuthenticated" class="dropdown">
        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          {{this.usuario.username}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
           <button (click)="logout()" class="dropdown-item" type="submit">Sign Out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
