<form [formGroup]="modalGroup">
  <h3 class="border-bottom-1">Datos Producto</h3>
  <div class="form-group row">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input formControlName="nombre" type="text" class="form-control" id="nombre"  maxlength="30">
      <div *ngIf="modalGroup.get('nombre').invalid && (modalGroup.get('nombre').touched || modalGroup.get('nombre').dirty)">
        <div class="error" *ngIf="modalGroup.get('nombre').hasError('required')">
          Nombre del producto requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('nombre').hasError('minlength')">
          Nombre del producto debe tener mínimo 4 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="stock" class="col-sm-2 col-form-label">Stock</label>
    <div class="col-sm-10">
      <input formControlName="stock" type="number" class="form-control" id="stock" >
      <div class="error"
           *ngIf="modalGroup.get('stock').hasError('required') && modalGroup.get('stock').touched">
        Stock requerido
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="precio" class="col-sm-2 col-form-label">Precio (S/.)</label>
    <div class="col-sm-10">
      <input formControlName="precio" type="text" class="form-control" id="precio">
      <div class="error"
           *ngIf="modalGroup.get('precio').hasError('required') && modalGroup.get('precio').touched">
        Precio requerido
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="distribuidor" class="col-sm-2 col-form-label">Distribuidor</label>
    <div class="col-sm-4">
      <select id="distribuidor" class="form-control" formControlName="distribuidor">
        <option *ngFor="let distribuidor of distribuidores" [ngValue]="distribuidor.nombre">{{distribuidor.nombre}}</option>
      </select>
      <div class="error"
           *ngIf="modalGroup.get('distribuidor').hasError('required') && modalGroup.get('distribuidor').touched">
        Distribuidor requerido
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="marca" class="col-sm-2 col-form-label">Marca</label>
    <div class="col-sm-10">
      <input formControlName="marca" type="text" class="form-control" id="marca" maxlength="30">
      <div *ngIf="modalGroup.get('marca').invalid && (modalGroup.get('marca').touched || modalGroup.get('marca').dirty)">
        <div class="error" *ngIf="modalGroup.get('marca').hasError('required')">
          Marca del producto requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('marca').hasError('minlength')">
          Marca del producto debe tener mínimo 4 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
    <div class="col-sm-10">
      <input formControlName="descripcion" type="text" class="form-control" id="descripcion" maxlength="30">
      <div *ngIf="modalGroup.get('descripcion').invalid && (modalGroup.get('descripcion').touched || modalGroup.get('descripcion').dirty)">
        <div class="error" *ngIf="modalGroup.get('descripcion').hasError('required')">
          Descripción del producto requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('descripcion').hasError('minlength')">
          Descripción del producto debe tener mínimo 4 caracteres
        </div>
      </div>
    </div>
  </div>


  <div class="form-group row margin-boton-action">

    <div class="offset-4 col-sm-2">
      <button (click)="close()" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="col-sm-2" *ngIf="!this.data.producto">
      <button type="submit" [disabled]="modalGroup.invalid" (click)="saveProducto()" class="btn btn-success">Guardar</button>
    </div>
    <div class="col-sm-2" *ngIf="this.data.producto">
      <button type="submit" [disabled]="modalGroup.invalid" (click)="updateProducto()" class="btn btn-success">Actualizar </button>
    </div>
  </div>
</form>
