<app-header></app-header>
<div class="card bg-light">
  <div class="card-header">{{titulo}}: {{factura.descripcion}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clientes']" class="btn btn-light btn-xs">&laquo; volver</a>
    </h4>

    <form #facturaForm="ngForm">
      <div class="form-group row" *ngIf="factura.cliente">
        <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
        <div class="col-sm-6">
          <input type="text" name="cliente" value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}" class="form-control" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-6">
          <input type="text" name="descripcion" [(ngModel)]="factura.descripcion" class="form-control" required #descripcion="ngModel" minlength="4" maxlength="30">
          <div class="alert alert-danger"  *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
            <div *ngIf="descripcion.errors.required">
              Descripción es requerido
            </div>
            <div *ngIf="descripcion.errors.minlength">
              Descripción debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="observacion" class="col-sm-2 col-form-label">Observación</label>
        <div class="col-sm-6">
          <textarea name="observacion" required [(ngModel)]="factura.observacion" #observacion="ngModel" class="form-control" minlength="4" maxlength="30"></textarea>
          <div class="alert alert-danger"  *ngIf="observacion.invalid && (observacion.dirty || observacion.touched)">
            <div *ngIf="observacion.errors.required">
              Observación es requerido
            </div>
            <div *ngIf="observacion.errors.minlength">
              Observación debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <mat-form-field>
            <input type="text" placeholder="Añadir producto" aria-label="Productos" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionarProducto($event)">
              <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                {{producto.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="autocompleteControl.invalid && facturaForm.submitted">
            La factura no puede no tener líneas!.
          </div>
        </div>
      </div>
      <div class="alert alert-info my-4" *ngIf="factura.items.length < 1">
        No hay líneas asignadas para la factura. Debe agregar al menos una!
      </div>

      <table class="table table-striped table-hover table-sm" *ngIf="factura.items.length > 0">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of factura.items">
            <td>{{item.producto.nombre}}</td>
            <td>{{item.producto.precio}}</td>
            <td><input type="number" value="{{item.cantidad}}" class="form-control col-sm-4" (change)="actualizarCantidad(item.producto.id, $event)"></td>
            <td>{{item.calcularImporte()}}</td>
            <td><button class="btn btn-danger btn-sm" type="button"
              (click)="eliminarItemFactura(item.producto.id)">x</button></td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-danger my-4" *ngIf="buttonCreate">
        Solo puede agregar 10 productos como máximo.
      </div>
      <h5 class="float-right" *ngIf="factura.items.length > 0">Gran Total: <span class="badge badge-secondary">{{factura.calcularGranTotal()}}</span></h5>

      <div class="form-group row">
        <div class="col-sm-6">
          <button type="submit" (click)="create(facturaForm)" [disabled]="buttonCreate" class="btn btn-secondary">Crear Factura</button>
        </div>
      </div>
    </form>

  </div>
</div>
