<form [formGroup]="modalGroup">
  <h3 class="border-bottom-1">Datos Empresa</h3>
  <div class="form-group row">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input formControlName="nombre" type="text" class="form-control" id="nombre" maxlength="30">
      <div *ngIf="modalGroup.get('nombre').invalid && (modalGroup.get('nombre').touched || modalGroup.get('nombre').dirty)">
        <div class="error" *ngIf="modalGroup.get('nombre').hasError('required')">
          Nombre del distribuidor requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('nombre').hasError('minlength')">
          Nombre del distribuidor debe tener mínimo 4 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="ruc" class="col-sm-2 col-form-label">RUC</label>
    <div class="col-sm-10">
      <input formControlName="ruc" type="number" class="form-control" id="ruc" maxlength="11">
      <div class="error"
           *ngIf="modalGroup.get('ruc').hasError('required') && modalGroup.get('ruc').touched">
        RUC requerido
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
    <div class="col-sm-10">
      <input formControlName="direccion" type="text" class="form-control" id="direccion" maxlength="30">
      <div *ngIf="modalGroup.get('direccion').invalid && (modalGroup.get('direccion').touched || modalGroup.get('direccion').dirty)">
        <div class="error" *ngIf="modalGroup.get('direccion').hasError('required')">
          Dirección del distribuidor requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('direccion').hasError('minlength')">
          Dirección del distribuidor debe tener mínimo 4 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="rubro" class="col-sm-2 col-form-label">Rubro</label>
    <div class="col-sm-4">
      <select id="rubro" class="form-control" formControlName="rubro">
        <option *ngFor="let rubro of Rubros" [ngValue]="rubro">{{rubro}}</option>
      </select>
      <div class="error"
           *ngIf="modalGroup.get('rubro').hasError('required') && modalGroup.get('rubro').touched">
        Rubro requerido
      </div>
    </div>

    <label for="area" class="col-sm-2 col-form-label">Área Distribución</label>
    <div class="col-sm-4">
      <select id="area" class="form-control" formControlName="area">
        <option *ngFor="let area of Areas" [ngValue]="area">{{area}}</option>
      </select>
      <div class="error"
           *ngIf="modalGroup.get('area').hasError('required') && modalGroup.get('area').touched">
        Valor requerido
      </div>
    </div>
  </div>

  <div class="form-group row">

  </div>

  <h3 class="mb-2">Datos Contacto</h3>
  <div class="form-group row">
    <label for="nombreContacto" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input formControlName="nombreContacto" type="text" class="form-control" id="nombreContacto" maxlength="30">
      <div *ngIf="modalGroup.get('nombreContacto').invalid && (modalGroup.get('nombreContacto').touched || modalGroup.get('nombreContacto').dirty)">
        <div class="error" *ngIf="modalGroup.get('nombreContacto').hasError('required')">
          Nombre del Contacto del distribuidor requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('nombreContacto').hasError('minlength')">
          Nombre del Contacto distribuidor debe tener mínimo 4 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="apellidoContacto" class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
      <input formControlName="apellidoContacto" type="text" class="form-control" id="apellidoContacto" maxlength="30">
      <div *ngIf="modalGroup.get('apellidoContacto').invalid && (modalGroup.get('apellidoContacto').touched || modalGroup.get('apellidoContacto').dirty)">
        <div class="error" *ngIf="modalGroup.get('apellidoContacto').hasError('required')">
          Apellido del Contacto del distribuidor requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('apellidoContacto').hasError('minlength')">
          Apellido del Contacto distribuidor debe tener mínimo 4 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="telefono" class="col-sm-2 col-form-label">Teléfono</label>
    <div class="col-sm-4">
      <input formControlName="telefono" type="number" class="form-control" id="telefono" maxlength="11">
      <div class="error"
           *ngIf="modalGroup.get('telefono').hasError('required') && modalGroup.get('telefono').touched">
        Teléfono requerido
      </div>
    </div>

    <label for="email" class="col-sm-1 col-form-label">Correo</label>
    <div class="col-sm-5">
      <input formControlName="correo" type="email" class="form-control" id="email" maxlength="30">
      <div *ngIf="modalGroup.get('correo').invalid && (modalGroup.get('correo').touched || modalGroup.get('correo').dirty)">
        <div class="error" *ngIf="modalGroup.get('correo').hasError('required')">
          Correo del Contacto requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('correo').hasError('pattern')">
          Correo del Contacto no tiene formato correcto
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row margin-boton-action">

    <div class="offset-4 col-sm-2">
      <button (click)="close()" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="col-sm-2" *ngIf="!this.data.distribuidor">
      <button type="submit" [disabled]="modalGroup.invalid" (click)="saveDistribuidor()" class="btn btn-success">Guardar</button>
    </div>
    <div class="col-sm-2" *ngIf="this.data.distribuidor">
      <button type="submit" [disabled]="modalGroup.invalid" (click)="updateDistribuidor()" class="btn btn-success">Actualizar </button>
    </div>
  </div>
</form>
