input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

.error{
  color: red;
  font-size: small;
  margin-left: 10px;
}
.margin-boton-action{
  margin-top: 5rem;
}
