<app-header></app-header>
<div class="animated fadeIn fast">
    <mat-grid-list cols="12" rowHeight="300px">
        <mat-grid-tile [colspan]="6">
            <mat-card>
                <app-b-expectativa [expectativaGeneral]= "expectativaGeneral"></app-b-expectativa>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6">
            <mat-card>
                <app-b-percepcion [percepcionGeneral]= "percepcionGeneral"></app-b-percepcion>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-card>
                <app-g-pie [nro_encuestados_ciclo]= "nro_encuestados_ciclo"></app-g-pie>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-card>
                <app-barra-conformidad [conformidadPorTangibilidad]= "conformidadPorTangibilidad"></app-barra-conformidad>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-card>
                <app-g-total [totalEncuestados]= "totalEncuestados"></app-g-total>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="container mt-5">
  <div class="row">
    <button class="btn-primary col-2" [routerLink]="['/home']">General</button>
    <button class="btn-primary col-2" [routerLink]="['/fiabilidad']">Fiabilidad</button>
    <button class="btn-primary col-2" [routerLink]="['/caprespuesta']">Capacidad Respuesta</button>
    <button class="btn-primary col-2" [routerLink]="['/cortesia']">Cortesía</button>
    <button class="btn-primary col-2" [routerLink]="['/tangibilidad']">Tangibilidad</button>
    <button class="btn-primary col-2" [routerLink]="['/empatia']">Empatía</button>
  </div>
</div>
