<div class="container">
    <h3>Nivel de Percepción por Edades</h3>
    <div style="" class="chart-wrapper center">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
        </canvas>
    </div>
</div>

