<app-header></app-header>
<div class="animated fadeIn fast">
    <mat-grid-list cols="12" rowHeight="300px">
        <mat-grid-tile [colspan]="12">
            <app-g-tabla></app-g-tabla>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">

        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">

        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">

        </mat-grid-tile>
    </mat-grid-list>
</div>
