<app-header></app-header>
<button type="button" (click)="setHabilitar()" class="btn btn-primary my-3">{{ habilitar==true? 'Ocultar': 'Mostrar' }}</button>

<div class="card">
  <div class="card-header">
    Listado de Distribuidores
  </div>

  <table class="table" *ngIf="habilitar == true">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">RUC</th>
      <th scope="col">Rubro</th>
      <th scope="col">Área Distribución</th>
      <th scope="col">Dirección</th>
      <th scope="col">Responsable</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Correo</th>
      <th *ngIf="this.roleAdmin" scope="col">Acción</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let distri of this.distribuidores">
      <th scope="row">{{distri.id}}</th>
      <td>{{distri.nombre}}</td>
      <td>{{distri.ruc}}</td>
      <td>{{distri.rubro}}</td>
      <td>{{distri.areaDistribucion}}</td>
      <td>{{distri.direccion}}</td>
      <td>{{distri.nombreContacto}} {{distri.apellidoContacto}}</td>
      <td>{{distri.telefono}}</td>
      <td>{{distri.correo}}</td>
      <td *ngIf="this.roleAdmin">
        <button (click)="getDistribuidorById(distri.id)" ><i class="fas fa-edit"></i></button>
        <button (click)="deleteDistribuidor(distri.id)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="this.roleAdmin" class="card-footer text-right">
  <button class="btn-primary" (click)="openDialogForm(null)" >Agregar Distribuidor</button>
  </div>
</div>
