<app-header></app-header>
<button type="button" (click)="setHabilitar()" class="btn btn-primary my-3">{{ habilitar==true? 'Ocultar': 'Mostrar' }}</button>

<div class="card">
  <div class="card-header">
    Listado de Productos
  </div>

  <table class="table" *ngIf="habilitar == true">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Stock</th>
      <th scope="col">Precio</th>
      <th scope="col">Marca</th>
      <th scope="col">Descripción</th>
      <th scope="col">Distribuidor</th>
      <th *ngIf="this.roleAdmin" scope="col">Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of this.productos">
      <th scope="row">{{producto.id}}</th>
      <td>{{producto.nombre}}</td>
      <td>{{producto.stock}}</td>
      <td>S/. {{producto.precio}}</td>
      <td>{{producto.marca}}</td>
      <td>{{producto.descripcion}}</td>
      <td>{{producto.distribuidor.nombre}}</td>
      <td *ngIf="this.roleAdmin" class="">
        <button (click)="getProductoById(producto.id)"><i class="fas fa-edit"></i></button>
        <button  (click)="deleteProducto(producto.id)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="this.roleAdmin" class="card-footer text-right">
    <button class="btn-primary" (click)="openDialogForm(null)" >Agregar Producto</button>
  </div>

</div>
