.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
table {
  width: 100%;
}
th.mat-column-icon, td.mat-column-icon {
  width: 40px;
}
.folder {
  cursor: pointer;
}

.delete {
  cursor: pointer;
}

.fill-space {
  flex: 1 1 auto;
}

.version {
  font-size: 14px;
}
