<app-header></app-header>
<div class="container justify-content-center">
<div class="custom-file">
  <input (change)="seleccionarArchivo($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
  <label class="custom-file-label" for="inputGroupFile04">{{nombreArchivo}}</label>
</div>
<div class="input-group-append">
  <button (click)="subirArchivo()" [disabled]="!archivoSeleccionado" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
</div>
</div>

