<div class="container">
  <h3>Cantidad de Encuestados por Edades</h3>
  <div style="height:200px" class="chart-wrapper center">
      <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      [colors]="barChartColors">
    </canvas>
  </div>
</div>


