<div class="container">
  <h3>Encuestados por Distrito</h3>
  <div class="chart-wrapper center">
      <canvas baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [colors]="donutColors">
    </canvas>
  </div>
</div>

