<app-header></app-header>
<button type="button" (click)="setHabilitar()" class="btn btn-primary my-3">{{ habilitar==true? 'Ocultar': 'Mostrar' }}</button>

<div class="card">
  <div class="card-header">
    Listado de Usuarios
  </div>

  <table class="table" *ngIf="habilitar == true">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Username</th>
      <th scope="col">Correo</th>
      <th scope="col">Rol</th>
      <th *ngIf="this.roleAdmin" scope="col">Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let usuario of this.usuarios">
      <th scope="row">{{usuario.id}}</th>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.username}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.roles[0].nombre}}</td>
      <td *ngIf="this.roleAdmin">
        <button (click)="getUsuarioByUsername(usuario.username)"><i class="fas fa-edit"></i></button>
        <button (click)="deleteUsuario(usuario.username)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="this.roleAdmin" class="card-footer text-right">
    <button class="btn-primary" (click)="openDialogForm(null)" >Agregar Usuario</button>
  </div>

</div>
