<app-header></app-header>
<table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <mat-icon>{{item.Icon}}</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let item" [class.folder]="item.IsFolder"> {{item.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="modifiedTime">
    <th mat-header-cell *matHeaderCellDef> Last modified </th>
    <td mat-cell *matCellDef="let item"> {{item.ModifiedTimeText}} </td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> Size </th>
    <td mat-cell *matCellDef="let item"> {{item.SizeText}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <mat-icon class="delete" (click)="delete(item)">delete</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="download">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <mat-icon class="vertical_align_bottom" (click)="download(item)">download</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

