<app-header></app-header>
<div class="card border-dark text-center">

  <div class="card-body" >

    <img src="../../assets/img/usuario.png" style="height: 250px; width: 250px" class="mb-5">
    <form method="post" style="padding-left: 35%">
      <div class="form-group col-sm-6">
        <input [(ngModel)]="usuario.username" type="text" class="form-control"
        name="username" id="username" placeholder="Username" autofocus required>
      </div>

      <div class="form-group col-sm-6">
        <input [(ngModel)]="usuario.password" type="password" class="form-control"
        name="password" id="password" placeholder="Password" required>
      </div>

      <div class="form-group col-sm-6">
        <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
      </div>
    </form>
  </div>
</div>
