<app-header></app-header>

  <h4 class="mt-4">
    Paso 1. Inicia sesión en Google Drive y descarga el excel de tu formulario
  </h4>
  <img src="assets/img/google.png" (click)="signIn()" class="centered">
  <!--<button class="btn-primary centered" mat-raised-button color="primary">Inicia sesión en Google</button>-->
