<app-header></app-header>
<detalle-cliente *ngIf="clienteSeleccionado" [cliente] ="clienteSeleccionado"></detalle-cliente>

<div class="card border-primary mb-3">
  <h5 class="card-header">Listado de Clientes</h5>
  <div class="card-body">
    <div class="my-2 text-left">
      <button *ngIf="roleAdmin" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">
        Crear Cliente
      </button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th *ngIf="roleUser">#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th *ngIf="roleAdmin">Crear Factura</th>
          <th *ngIf="roleAdmin">Editar</th>
          <th *ngIf="roleAdmin">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td *ngIf="roleAdmin"><img (click)="abrirModal(cliente)" *ngIf="cliente?.foto"
            src="{{url_back}}/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded"
            style="width:64px; cursor: pointer;">

            <img (click)="abrirModal(cliente)" *ngIf="!cliente?.foto"
              src="{{url_back}}/images/no-usuario.png" alt="Sin foto" class="img-thumbnail rounded"
              style="width:64px; cursor: pointer;">
            </td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido | uppercase }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
          <td *ngIf="roleAdmin"><button type="button" class="btn btn-success btn-sm" [routerLink]="['/facturas/form', cliente.id]">crear factura</button></td>
          <td *ngIf="roleAdmin">
            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td *ngIf="roleAdmin">
            <button type="button" name="eliminar" (click)='delete(cliente)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
  </div>
</div>
