<app-header></app-header>
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" minlength="4" maxlength="30" required [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel"> <!-- required minlength="4" -->
          <div class="alert alert-danger"  *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" required class="form-control" maxlength="30" minlength="4" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              Apellido es requerido
            </div>
            <div *ngIf="apellido.errors.minlength">
              Apellido debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="email" required class="form-control" maxlength="30" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="cliente.email" name="email" #email="ngModel"> <!-- required email -->
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Email es requerido
            </div>
            <div *ngIf="email.errors.pattern">
              Email debe tener un formato válido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input required placeholder="dd/mm/aaaa" [matDatepicker]="miDatepicker" #fecha="ngModel" class="form-control" [min]="minDate" [max]="maxDate" [(ngModel)]="cliente.createAt" name="createAt" style="display:inline; width:300px;">
          <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker></mat-datepicker>
          <div class="alert alert-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
            <div *ngIf="fecha.hasError('required')">
              Fecha es requerida
            </div>
            <div *ngIf="fecha.hasError('matDatepickerMin')">
              Fecha mínima superada
            </div>
            <div *ngIf="fecha.hasError('matDatepickerMax')">
              Fecha máxima superada
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-2">Región</label>
        <div class="col-sm-6">
          <select required [compareWith]="compararRegion" #region="ngModel" class="form-control" [(ngModel)]="cliente.region" name="region" style="width:500px;">
            <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="region.invalid && (region.dirty || region.touched)">
            <div *ngIf="region.hasError('required')">
              Región es requerida
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
