<form [formGroup]="modalGroup">
  <h3 class="border-bottom-1">Datos Sesión</h3>
  <div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">Usuario</label>
    <div class="col-sm-10">
      <input formControlName="username" type="text" class="form-control" id="username" maxlength="30">
      <div *ngIf="modalGroup.get('username').invalid && (modalGroup.get('username').touched || modalGroup.get('username').dirty)">
        <div class="error" *ngIf="modalGroup.get('username').hasError('required')">
          Usuario requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('username').hasError('minlength')">
          Nombre debe tener mínimo 4 caracteres
        </div>
      </div>
    </div>
  </div>

    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label">Contraseña</label>
      <div class="col-sm-10">
        <input formControlName="password" type="password" class="form-control" id="password" maxlength="30">
        <div *ngIf="modalGroup.get('password').invalid && (modalGroup.get('password').touched || modalGroup.get('password').dirty)">
          <div class="error" *ngIf="modalGroup.get('password').hasError('required')">
            Contraseña requerido
          </div>
          <div class="error" *ngIf="modalGroup.get('password').hasError('minlength')">
            Contraseña debe tener mínimo 4 caracteres
          </div>
        </div>
      </div>
    </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Estado</label>
    <div class="form-check form-check-inline">
      <input class="form-check-input" formControlName="enabled" type="radio" name="enabled" id="enabled" value="true">
      <label class="form-check-label" for="enabled">Habilitado</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" formControlName="enabled"  type="radio" name="enabled" id="noenabled" value="false">
      <label class="form-check-label" for="noenabled">Deshabilitado</label>
    </div>
  </div>
  <h3 class="border-bottom-1">Datos Usuario</h3>
  <div class="form-group row">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input formControlName="nombre" type="text" class="form-control" id="nombre" maxlength="30">
      <div *ngIf="modalGroup.get('nombre').invalid && (modalGroup.get('nombre').touched || modalGroup.get('nombre').dirty)">
        <div class="error" *ngIf="modalGroup.get('nombre').hasError('required')">
          Nombre del usuario requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('nombre').hasError('minlength')">
          Nombre del usuario debe tener mínimo 4 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
      <input formControlName="apellido" type="text" class="form-control" id="apellido" maxlength="30">
      <div *ngIf="modalGroup.get('apellido').invalid && (modalGroup.get('apellido').touched || modalGroup.get('apellido').dirty)">
        <div class="error" *ngIf="modalGroup.get('apellido').hasError('required')">
          Apellido del usuario requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('apellido').hasError('minlength')">
          Apellido del usuario debe tener mínimo 4 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Correo</label>
    <div class="col-sm-10">
      <input formControlName="email" type="text" class="form-control" id="email" maxlength="30">
      <div *ngIf="modalGroup.get('email').invalid && (modalGroup.get('email').touched || modalGroup.get('email').dirty)">
        <div class="error" *ngIf="modalGroup.get('email').hasError('required')">
          Correo del usuario requerido
        </div>
        <div class="error" *ngIf="modalGroup.get('email').hasError('pattern')">
          Correo del usuario no tiene formato correcto
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="rol" class="col-sm-2 col-form-label">Rol</label>
    <div class="col-sm-4">
      <select id="rol" class="form-control" formControlName="rol">
        <option *ngFor="let rol of roles" [ngValue]="rol.nombre">{{rol.nombre}}</option>
      </select>
      <div class="error"
           *ngIf="modalGroup.get('rol').hasError('required') && modalGroup.get('rol').touched">
        Rol requerido
      </div>
    </div>
  </div>

  <div class="form-group row margin-boton-action">

    <div class="offset-4 col-sm-2">
      <button (click)="close()" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="col-sm-2" *ngIf="!this.data.usuario">
      <button type="submit" [disabled]="modalGroup.invalid" (click)="saveUsuario()" class="btn btn-success">Guardar</button>
    </div>
    <div class="col-sm-2" *ngIf="this.data.usuario">
      <button type="submit" [disabled]="modalGroup.invalid" (click)="updateUsuario()" class="btn btn-success">Actualizar </button>
    </div>
  </div>
</form>
